@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BMHANNAPro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
  /* 폰트 */
  
  
  *{
    margin: 0;
  }
  
  .content{
    height: 430px;
    background-color: white;
    margin: 20px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'BMHANNAPro';
    font-weight: normal;
    flex-direction:column;
  }
  
  .content span {
    display: inline-block;
    font-size: 100px;
    animation: bounce .45s ease infinite alternate;
    margin-bottom:40px;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); 
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); /* 텍스트 바로 아래에 그림자 */
    }
    100% {
      transform: translateY(-20px); 
      text-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); /* 위로 이동 시 더 큰 그림자 */
    }
  }
  .introduce{
    font-size:20px;
    margin-bottom:15px;
  }
  button{
    color: white; 
    background-color: #e9302d; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    height: 56px;
    width: 148px;
    margin-right: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover{
    filter: brightness(150%);
  }
  
  